/* Common CSS */

* {
  margin: 0%;
  padding: 0%;
}

:root {
  /* For View And Debugging */
  --view-header: #b00;
  --view-header-items: white;
  --view-profile-photo: black;
  --view-date-picker-div: purple;
  --view-menu: blue;
  --view-menu-items: orange;
  --view-nav-links-a: white;
  --view-nav-links-li-border: red;
  --view-nav-links-li-bg: white;
  --view-nav-links-li: blue;
  --view-display: green;
  --view-display-item: yellow;
  --view-th-bg: green;
  --view-th: white;
  --view-input-bg: #4caf50;
  --view-input-color: white;
  --view-button-bg: #4caf50;
  --view-button-color: white;
  --danger: rgb(165, 26, 26);
  --success: rgb(36, 160, 36);
  /* Static Colors*/
  --primary: #2e386d;
  --primary-dark: #272935;
  --primary-light: #8bc3c4;
  --secondary-dark: #1e2547;
  --secondary-light: rgb(238, 162, 154);
  --shadow-gray: rgba(0, 0, 0, 0.06);
  --light-gray: rgb(161, 161, 161);
  --darker-gray: rgb(207, 207, 207);
  --base-light: white;
  --view-header: var(--primary-dark);
  --view-title-color: var(--base-light);
  --view-profile-color: var(--base-light);
  --view-profile-photo: var(--base-light);
  --view-menu: var(--primary-dark);
  --view-nav-links-a: var(--base-light);
  --view-nav-links-li-border: var(--primary-dark);
  --view-input-shadow: var(--shadow-gray);
  --view-graph-container-shadow: var(--shadow-gray);
  --view-button-search-btn: var(--primary-light);
  --view-th: var(--base-light);
  --view-th-bg: var(--primary-dark);
  --view-action-button-bg: var(--primary-dark);
  --view-action-button: var(--primary-light);
  --view-form-input: var(--light-gray);
  --view-form-submit-button: var(--primary-dark);
  --view-form-submit-button-bg: var(--primary-light);
  --view-form-add-button: var(--primary-dark);
  --view-form-add-button-bg: var(--primary-light);
  --view-table-bg: var(--darker-gray);
  --view-graph-container-bg: var(--darker-gray);
  --view-popup-close: var(--primary-dark);
  --view-spent-limit-red: var(--danger);
  --view-spent-limit-green: var(--success);
  --view-spent-limit-color: var(--base-light);
  --view-dropdown: var(--primary-dark);
  --view-dropdown-hover: var(--primary-light);
  --view-dropdown-hover-color: var(--primary-dark);
  --view-active-mobile-view-font-color: var(--secondary-light);
  --view-input-date: var(--primary-light);
  --view-input-date-color: var(--primary-dark);
  --view-graph-title-backround-color: var(--secondary-dark);
  --view-graph-title-color: var(--base-light);
  --view-fillern-bg: var(--primary-light);
  --view-filler-color: var(--secondary-dark);
  --fullwidth: 100%;
}
body {
  font-family: "Work Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

input[type="button"] {
  background-color: var(--view-input-bg);
  border: none;
  border-radius: 5px;
  color: var(--view-input-color);
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.date-time-picker input[type="date"] {
  background-color: var(--base-light);
  border: 2px solid var(--primary-dark);
  border-radius: 5px;
  color: var(--primary-dark);
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.left-date {
  border-right: none !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.right-date {
  border-left: none !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.fr {
  float: right;
}

.space {
  margin-left: 10px;
}

/* Header CSS */

.header {
  background-color: var(--view-header);
  min-height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
}
.header-items {
  min-height: 10vh;
}
.title {
  color: var(--view-title-color);
  font-weight: 600;
  font-size: 25px;
  margin-top: 30px;
}
.profile {
  min-height: 10vh;
}
.profile p {
  font-family: "Archivo", sans-serif;
  color: var(--view-profile-color);
  margin-top: 3.5vh;
  font-size: 18px;
}
.profile-photo {
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 2vh;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  border: 2px solid var(--view-profile-photo);
}

/* Menu CSS */

.menu {
  background-color: var(--view-menu);
  min-height: 5vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
}
.menu-items {
  /* background-color: var(--view-menu-items); */
  min-height: 5vh;
}
nav {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  min-height: 5vh;
}
.nav-links {
  min-height: 5vh;
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
}
.nav-links button {
  letter-spacing: 3px;
  background-color: transparent;
  border-bottom: none;
  border-radius: 0;
  color: var(--view-nav-links-a);
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
.nav-links .active {
  border-bottom: 5px solid var(--primary-light) !important;
}

/* Date box CSS */

.date-picker-div {
  /* background-color: var(--view-date-picker-div); */
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 5vh;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20%;
  justify-content: center;
}
.search-box {
  min-height: 5vh;
}
.date-box {
  min-height: 5vh;
}

/* Display CSS */

.display {
  /* background-color: var(--view-display); */
  /* min-height: 78.75vh; */
  width: 100%;
  display: flex;
}
.display-item {
  margin: auto;
  /* background-color: var(--view-display-item); */
  height: 70vh;
  width: 90%;
}
table {
  border-collapse: collapse;
  border: 0px solid var(--view-table-bg);
  box-shadow: 0 0 15px 4px var(--view-input-shadow);
  width: 100%;
}
th,
td {
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #eeeeee;
}
tr:nth-child(odd) {
  background-color: var(--base-light);
}
th {
  background-color: var(--view-th-bg);
  color: var(--view-th);
}
.page-selector {
  padding-bottom: 10px;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page-selector p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0px;
}
.page-number-selector {
  margin-top: 10px;
  padding-bottom: 10px;
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page-number-selector p {
  font-weight: 700;
  font-size: larger;
}
.expense-action button {
  margin-right: 10px;
}
.expense-action button,
.page-number-selector button {
  background-color: var(--view-action-button);
  color: var(--view-action-button-bg);
}

button {
  background-color: var(--view-button-bg);
  border: none;
  border-radius: 5px;
  color: var(--view-button-color);
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.search-box input {
  padding-left: 10px;
  min-height: 4vh;
  font-size: large;
  border: 2px solid var(--primary-dark);
  border-radius: 5px;
}

.popup {
  margin: auto;
  width: 30%;
  height: 50%;
  box-shadow: 0 0 15px 4px var(--view-input-shadow);
  border-radius: 20px;
  padding: 20px;
  background-color: #eee;
}
.popup-wrapper {
  position: absolute;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
}

.add-edit-form input[type="text"] {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  box-sizing: border-box;
  border: none;
  border: 1px solid var(--view-form-input);
  border-radius: 5px;
}

.add-edit-form button {
  color: var(--view-button-search-btn);
  background-color: var(--view-button-color);
}

.add-edit-form button {
  margin: auto;
  margin-top: 10px;
  color: var(--view-form-submit-button);
  background-color: var(--view-form-submit-button-bg);
}

.expense-add-btn {
  width: 100%;
  border-radius: 0px;
  background-color: var(--view-form-add-button-bg);
  color: var(--view-form-add-button);
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.popup-close {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: end;
}

.popup-close button {
  background-color: transparent;
  border: none;
  border-radius: none;
  color: var(--view-popup-close);
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

.red {
  background-color: var(--view-spent-limit-red);
  color: var(--view-spent-limit-color);
  padding: 7px 10px;
  border-radius: 20px;
}

.green {
  background-color: var(--view-spent-limit-green);
  color: var(--view-spent-limit-color);
  padding: 7px 10px;
  border-radius: 20px;
}

.filler {
  background-color: var(--base-light);
  color: var(--view-fillern-color);
  border: 2px solid var(--primary-dark);
  border-left: none;
  border-right: none;
  padding: 9px 9px;
  font-size: 16px;
}

.dropbtn {
  cursor: pointer;
  background-color: transparent;
  border-bottom: 4px solid var(--secondary-dark);
  border-radius: 0px;
  color: var(--secondary-dark);
  padding: 10px 12px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 16px;
  width: 200px;
  flex:1;
  margin-bottom: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  background-color: #f9f9f9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content p:hover {
  background-color: var(--view-dropdown-hover);
}

.dropdown:hover .dropbtn {
  background-color: var(--view-dropdown-hover);
  color: var(--view-dropdown-hover-color);
}

.table-container {
  width: 100%;
}

.graphs-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 10%;
  padding: 50px 0px 50px 0px;
  justify-content: center;
}

.graph-container {
  height: 100%;
  border: 1px solid var(--view-graph-container-bg);
  box-shadow: 0 0 15px 4px var(--view-graph-container-shadow);
  border-radius: 5px;
  padding: 0%;
}

.graphs-container-full-width {
  width: 90%;
  height: auto;
  margin: auto;
  border: 1px solid var(--view-graph-container-bg);
  box-shadow: 0 0 15px 4px var(--view-graph-container-shadow);
  border-radius: 5px;
  margin-bottom: 40px;
}

.graph-item {
  text-align: start;
  padding-bottom: 20px;
}

.graph-title {
  padding: 5px;
  font-weight: bold;
  background-color: var(--view-graph-title-backround-color);
  color: var(--view-graph-title-color);
}

/* Login */

.timeline {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.timeline-items {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-step {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  color: var(--base-light);
}

.timeline-step .done{
  background-color: var(--success);
}

.timeline-break {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 100px;
}

.registration {
  display: flex;
  height: 70vh;
}

.registration-sign-up {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registration-sign-up span{
  font-size: 35px;
  font-weight: bolder;
}

.login-link {
  margin-top: 10px;
  color: var(--primary);
}

.login-link .clickable{
  font-size: 16px;
  font-weight: bolder;
}

.register-button {
  display: flex;
  gap: 10px;
}

.registration-set-password {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.registration-set-password span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  font-weight: bolder;
}

.set-password {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 40px 0px;
}

.set-profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid var(--view-profile-photo);
}
.set-password-item-profile-pic {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
}

.set-password-item {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 10px 10px 20px 10px;
}

.set-password-item label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1px;
  color: var(--primary);
}
.set-password-item input {
  padding: 10px;
  width: 400px;
  border: 2px solid var(--primary);
  border-radius: 2px;
}

.set-password-item input[type='email'] {
  padding: 10px;
  width: 400px;
  border: 1px solid var(--primary);
  background-color: var(--shadow-gray);
  border-radius: 2px;
}

.oauth-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 22px;
}

/* Media Queries */


@media only screen and (max-width: 1200px) {
  .page-selector {
    width: 25%;
  }
  .page-number-selector {
    width: 15%;
  }
}

@media only screen and (max-width: 1050px) {
  .date-picker-div {
    grid-template-columns: 30% 30%;
  }
}

@media only screen and (max-width: 960px) {
  .page-number-selector {
    width: 18%;
  }
  .graphs-container {
    grid-template-columns: 90%;
  }
  .graphs-container-full-width {
    margin-top: 150px;
  }
}

@media only screen and (max-width: 850px) {
  .hidden {
    display: none;
  }
  .header {
    grid-template-columns: 40% 40%;
  }
  .page-number-selector {
    width: 18%;
  }
}

@media only screen and (max-width: 800px) {
  .page-number-selector {
    width: 20%;
  }
  .date-picker-div {
    grid-template-columns: 100%;
  }
  .date-box .fr {
    margin-bottom: 20px;
    float: none;
  }
  .search-box,
  .date-box {
    padding-top: 2px;
    padding-bottom: 10px;
    margin: auto;
  }
  .expense-action button {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .nav-links {
    width: 100%;
    background-color: #8bc3c4;
  }
  .nav-links button {
    letter-spacing: 3px;
    font-size: 15px;
    padding: 15px 17px;
  }
  .page-number-selector {
    width: 20%;
  }
  .nav-links .active {
    border-bottom: 0px solid var(--view-nav-links-a) !important;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 600px) {
  .profile p {
    display: none;
  }
  .title {
    margin-left: 50px;
    margin-top: 3.5vh;
    font-size: 18px;
  }
  .profile-photo {
    margin-right: 40%;
  }
  .date-picker-div {
    grid-template-columns: 100%;
  }
  .date-box .fr {
    float: none;
  }
  .page-number-selector {
    width: 25%;
  }
  th,
  td {
    font-size: small;
  }
}

@media only screen and (max-width: 500px) {
  .menu {
    display: contents;
  }
  nav {
    display: flex;
    align-items: stretch;
    min-height: 5vh;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .nav-links ul {
    float: right;
  }
  .nav-links li {
    margin-bottom: 10px;
  }
  .nav-links button {
    font-size: 15px;
  }
  .nav-links li a.active {
    background-color: transparent;
    border: none;
    color: blue;
  }
  .page-number-selector {
    padding-left: 0px;
    width: 100%;
  }
}

@media only screen and (max-width: 499px) {
  .table-container {
    overflow-y: auto;
  }
}
